:root {
  --primarySiteColor: #25456e;
  --secondarySiteColor: #9fa3be;
  --darkSiteColor: #1d3350;
  --purpleTwo: #6166b3;
  --purpleOne: #373cab;
  --yellowOne: #eee71e;
  --primaryRedColor: #eb1737;
  --lightGrey: #f5f5f5;
  --darkGrey: #414141;
  --mediumGrey: #9b9b9b;
  --mainWhite: #ffffff;
  --mainBlack: #020202;
  --softBlack: #1c1c1a;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
  --marginBottom: 60px;
}

.App {
  text-align: center;
}

.marginBottom{
  margin-bottom: 60px;
}

html,
body,
#app,
#app > div {
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  height: 100% !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
